.box-1{
    background-color: rgb(238, 142, 17);
    width: 33%;
    height: 300px;
    float: left;
}

/**/

.box-2{
    background-color: rgb(255, 183, 0);
    width: 33%;
    height: 300px;
    float: left;
}
.box-3{
    background-color: hotpink;
    width: 33%;
    height: 300px;
    float: left;
}
h1{
    text-align: center;
    font-size: 35px;
    color: #ffffff;
}
img{
    width: 100%;
    height: auto;
}
.main-div{
    width: 100%;
}
.box-4{
    width: 33.33%;
    background-color: rgb(212, 0, 255);
    height: 300px;
    float: left;
}
.box-5{
    width: 33.33%;
    background-color: rgb(255, 0, 0);
    height: 300px;
    float: left;

}
.box-6{
    width: 33.33%;
    background-color: rgb(46, 145, 0);
    height: 300px;    float: left;

}